
         :root {
                --upper_background-background-color: #00608F;
                --lower_background-background-color: #ffffff;
                --testimonial_background-background-color: #ffffff;
                --preheader-color: #7bafc7;
                --preheader-font-weight: 700;
                --preheader-letter-spacing: 2px;
                --header-color: #ffffff;
                --header-font-weight: 400;
                --form_content_text-color: #bdd7e3;
                --field-color: #bcddec;
                --field-border-color: #79bbd9;
                --field-font-size: 18px;
                --field-font-weight: 400;
                --button-background-color: #DB8403;
                --button-font-size: 14px;
                --button-color: #ffffff;
                --button-border-radius: 28px;
                --button-font-weight: 700;
                --disclaimer-color: #bdd7e3;
                --disclaimer-font-size: 14px;
                --testimonial_content-color: #000000;
                --testimonial_contact-color: #000000;
                --testimonial_contact-font-weight: 700;
                --testimonial_location-color: #6d7278;
                --testimonial_location-font-weight: 400;
                --content_header-color: #0078B3;
                --content_header-font-weight: 700;
                --content_text-color: #404040;
                --headings-font-family: Oswald, sans-serif;
                --body-font-family: Open Sans, sans-serif;
            }
       
