@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Noto Naskh Arabic", Arial;
    font-optical-sizing: auto;
    font-style: normal; 
}

body, html{
    margin: 0;
}
body{
    background-color: #fcfcfc;
    overflow-x: hidden;
}

/* body::selection{
    background-color: #355A79;
} */


/* Navigation header styling */
.website-navigation-section{
    height: 7.5rem;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
    padding: 0 4.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.website-logo{
    height: 6rem;
    margin-right: -10%;
}
.website-navigation-section nav {
    display: flex;
    flex-direction: row;
}
.website-navigation-section nav a{
    display: none;
    flex-direction: row;
    font-size: 1.5rem;
    font-family: "Vazirmatn";
    color: #02102b;
    text-decoration: none;
}

.menu-button{
/*     background-color:#02102b; */
    background: rgb(0,36,107);
    background: linear-gradient(152deg, rgba(0,36,107,1) 66%, rgba(27,58,116,1) 85%, rgba(153,190,255,1) 100%);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


.side-bar{ /* Styling for the side bar menu*/
    display: none;
    border-radius: 15px;
    padding: 2rem 4.5rem 2rem 2rem;
    position: fixed;
    top: 80px;
    right: 10px;
    background-color: #131316;
    box-shadow: 2px 2px 10px rgba(46, 46, 46, 0.43);
    z-index: 100;  
}

/* .back-drop-div{
    width: 100vw;
    height: 100vh;
    background-color: #02102b;
    opacity: 1;
} */

.side-bar::before, .side-bar::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
}


.side-bar a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    opacity: 1;
    display: block;
    font-size: 1.4rem;
    letter-spacing: 1.15px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #e0e0e0;
}

.side-bar a:hover{
    text-decoration: underline;
    text-decoration-color: #e0e0e0;
    color: #e0e0e0;
}

.fa-bars{
    color: white;
    height: 40%;
}

/* .website-navigation-section .website-logo{
    margin-left: -1rem;
} */


.guage{
    position: sticky;
    top: 7.5rem;
    background-color: #093b97;
    height: 3px;
    width: 0;
}


@media(max-width:800px){
    .website-navigation-section{
        padding: 0 15px 0 15px;
    }
}

@media(min-width:700px){
    .website-navigation-section{
        flex-direction: row-reverse;
    }

    .menu-button{
        display: none;
    }

    .website-navigation-section .website-logo{
        padding-left: 10px;
    }

    .website-navigation-section nav {
        justify-content: space-between;
        align-items: center;
    }

    .website-navigation-section nav a{
        display: flex;
        margin: 0 15px;
        position: relative;
        
    }

    .website-navigation-section nav a::after{
        content: "";
        position: absolute;
        bottom: -4px;
        background-color: #f6c008;;
        width: 0;
        height: 3px;

        transition: width 0.3s ease-in-out;
    }

    .website-navigation-section nav a:hover::after{
        width: 100%;
    }

    .website-navigation-section nav a:last-of-type{
        margin-right: 0;
    }

    .side-bar{
        display: none;
    }
    }
    

    





/* The main content styling */
/* First section of the website */
.first-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 30px 30px;
    margin: auto;
    background: rgb(0,36,107);
    background: linear-gradient(152deg, rgba(0,36,107,1) 66%, rgba(27,58,116,1) 85%, rgba(153,190,255,1) 100%);
    background-attachment: scroll;
}

.sub-fs{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 11rem;
}

h1{
    color:#fff;
    text-size-adjust: 100%;
    font-family: Noto Naskh arabic;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    margin-left: 0;
    margin-right: 0;
}
h1 span{
    color: #f6c008;
/*   background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
h1, h1 span{ /* Header 1 font-sizes */
    font-size: 5.2rem;
}

.first-section .sub-heading{
    padding: 0;
    font-family: vazirmatn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    text-align: left;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 3rem;
    color: #fff;
}

.get-started{
    max-width: 150px;
    margin-bottom: 10px;
    letter-spacing: 1.25px;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #1761eb;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    z-index: 2;
    
    transition: box-shadow 1s;
}

.get-started:hover{
    background-color: #0351e2;
    border-radius: 5px;
    box-shadow:  0px 0px 9px #35343418,
                0px 0px 9px #35343418;
}

.get-started:active{
    opacity: 0.8;
}

.get-started a{
    color:white;
    font-size: inherit;
    text-decoration: none;
}
.get-started a:visited{
    color:white;
    text-decoration: none;
}
.get-started a:active{
    color:white;
    text-decoration: none;
}
.illustration-1{
    width: 50%;
    margin-top: 100px;
    align-self: flex-start;

}

/* @media for the first section for responsiveness */
@media(max-width:950px){
    h1, h1 span{
        font-size: 4.8rem;
    }
}

@media(max-width:900px){
    /* .first-section{
        padding: 30px 4.5%;
    } */
    h1, h1 span{
        font-size: 4.4rem;
    }
}

@media(max-width:800px){
    h1, h1 span{
        font-size: 4rem;
    }
    .illustration-1{
        width: 55%;
    }
}



@media(max-width:750px){
    .first-section{
        padding: 30px 30px;
        flex-direction: column;
        align-items: center;

    } 
    .sub-fs{
        align-items: center;
        margin-top: 75px;

    }
    h1, h1 span, .get-started{
        text-align: center;
    }
    .first-section .sub-heading{
        text-align: center;
    }
    .illustration-1{
        width: 70%;
        margin: auto;
    }
}

@media(max-width:450px){
    .illustration-1{
        width: 100%;
    }
}





/* Second Section */
.second-section{
    max-width: 80rem;
    padding: 5rem 1.8rem 2.5rem;
    margin: auto;
}
.community-icon{
    width: 8rem;
}
.second-section  h2{
    font-family: "Noto Naskh Arabic", Arial;
    font-size: 2.8rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    
}
.second-section p{
    font-family: 'Vazirmatn';
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-weight: 400;
}
.sub-second-section{
    max-width: 500px;
    margin: auto;
    padding: 1.5rem;
    padding-bottom: 0;
    font-size: 1.6rem;
    font-family: vazirmatn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: background-color 750ms ease-in, border-radius 750ms ease in;
}




/* Third section styling */
.third-section{
    display: flex;
    flex-direction: column-reverse;
    padding: 2.5rem;
    padding-top: 0;

}
.third-section object{
    max-width: 100%;
}
.third-section h2{
    font-size: 2rem;
    line-height: 2.8rem;
    margin-top: 0;
    font-family: "Vazirmatn", Arial;
}
.third-section div h2 span{
    font-family: "Vazirmatn", Arial;
    font-size: 2rem;
    color: #1761eb;
}
.third-section p{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: vazirmatn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.jump-to-ebook{
    font-size: 1.6rem;
    color: white;
    background-color: #367EFF;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    cursor: pointer;
}
.jump-to-ebook a{
    font-family: vazirmatn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

@media(min-width:800px){
    .third-section object, .third-section div{
        max-width: 90%;
        margin: auto;
    }
}
@media(min-width:900px){
    .third-section object, .third-section div{
        max-width: 85%;
    }
}

@media(min-width:1000px){
    .third-section{
        flex-direction: row;
        padding: 3% 7%;
    }
    .third-section object{
        max-width: 55%;
    }
    .third-section div{
        max-width: 45%;
    }
}


/* Fourth Section */
.fourth-section{
    max-width: 90vw;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.fourth-section h2{
    font-family: "Noto Naskh Arabic";
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.8rem;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0.6rem;
}
.fourth-section p{
    font-size: 1.6rem;
    text-align: center;
    max-width: 50rem;
    padding: 1rem;
    margin: auto;
    font-family: "Vazirmatn", sans-serif;
}
.book-features-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80%;
}
.book-mockup{
    max-width: 85%; 
}
.book-features-container div div h5{
    font-size: 2rem;
    font-weight: 500;
    color: #093b97;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
    
}
.book-features-container div div p{
    font-size: 1.6rem;
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.6rem;
}
.book-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-features-container div div{
    margin-top: 1.5rem;
}
.book-features div:first-of-type h5{
    margin-top: 1rem;
}

@media(min-width:500px){
    .fourth-section{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media(min-width:800px){
    .fourth-section{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(min-width:1000px){
    .fourth-section{
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media(min-width:1400px){
    .fourth-section{
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media(min-width:1800px){
    .fourth-section{
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* Regulating the book mockup */
@media(min-width:600px){
    .book-mockup{
        max-width: 80%;
    }
}

@media(min-width:700px){
    .book-mockup{
        max-width: 72%;
    }
}

@media(min-width:1000px){
    .book-mockup{
        max-width: 50%;
    }
}


/* The Customer review styling are in the file "customer-reviews.css" */

/* Fifth Section */
.fifth-section{
/*     background: rgb(0,36,107);
    background: linear-gradient(152deg, rgba(0,36,107,1) 66%, rgba(27,58,116,1) 85%); */
    background: rgb(0,36,107);
    background: linear-gradient(152deg, rgba(0,36,107,1) 66%, rgba(27,58,116,1) 85%, rgba(153,190,255,1) 100%);
    padding: 5rem 2.5rem;
    max-width: 100vw;
    margin: 0;
    margin-bottom: 3rem;
    
}
.fifth-section h2 {
    color: #f1f1f1;
    font-family: 'Noto Naskh Arabic';
    font-size: 2.4rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding-bottom: 2rem;
    margin: auto;
    letter-spacing: 2px;
    
}
.fifth-section p:first-of-type{
    max-width: 50rem;
    padding-bottom: 2rem;
    margin: auto;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.fifth-section p{
    font-family: Vazirmatn, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.5px;
}

.fifth-section h5{
    letter-spacing: 1px;
}



/* Section Six */
.newsletter-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 4.5rem 2rem 1rem;
    margin: auto;
    max-width: 50rem;
    
}

.newsletter-section h3{
    font-size: 2.8rem;
    font-weight: 500;
    margin: 1rem;
    line-height: 1;
}



.newsletter-section .input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    min-width: 100%;
    
}

.newsletter-section .input-section .sub-input-section{
    display: inline-block;
    width: 100%;
}

.newsletter-section .sub-input-section div {
    display: inline-block;
    width: 15%;
    background-color: #ffffff;
    height: 4.9rem;
    padding: 1rem;
    margin-right: -1rem;
    border: 1px solid rgba(221, 221, 221, 0.767);
    border-right: none;
    border-radius: 0.6rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    vertical-align: bottom;
}
.newsletter-section .message-icon{
    height: 2.5rem;
    
}
.newsletter-section .input-field{
    font-size: 1.4rem;
    padding: 0;
    width: calc(85% + 0.5rem);
    height: 4.9rem;
    padding-left: 0.8rem;
    border: 1px solid rgba(221, 221, 221, 0.767);
    border-left: none;
    border-radius: 0.6rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;    
    outline: none;
    caret-color: #0c469c98;

}

.newsletter-section .input-field::placeholder{
    font-size: 1.4rem;
    font-weight: 500;
    color: #6c6d6e;
}

.newsletter-section button{
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.8rem 1.6rem;
    width: 100%;
    margin-top: 1rem;
    color: #ffffffd0;
    background-color: #1761eb;
    border: none;
    border-radius: 0.8rem;
}

.newsletter-section button:hover{
    background-color: #468af0;
}

.newsletter-section p{
    font-size: 1.5rem;
    padding-top: 1rem;
}



/* Section Seven */
.moderators{
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}
.moderators div h2{
    font-family: "Noto Nashk Arabic";
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.4rem;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
}




.moderators p{
    max-width: 60rem;
    padding: 1.5rem;
    font-size: calc(1.5rem + .15vw);
    font-family: Vazirmatn, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: auto;
    margin-top: 0;
    color: rgba(39, 40, 42, 0.7);
    text-align: center;
    line-height: 28px;
    
}

.moderators .mods-section{
    display: grid;
    padding-top: 3rem;
}


.mods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.mods img{
    width: 50vw;
    max-width: 28rem;
    border-radius: 50%;
}

.mods img:nth-of-type(1){
    border: 0.3rem solid #1761eb;
    padding: 0.3rem;
    background-color: #fff;
}


.mods h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0;
}

.mods h5, .mods p{
    font-family: Vazirmatn, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: 500;
    color: #6c6d6e;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.mods h5{
    margin-top: 0;
}

.mods p{
    padding: 0 2rem;
    max-width: 50rem;
    font-weight: 400;
}



/* Footer */
footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-gap: 5%;
    width: 100%;
    padding: 2.5rem !important;
    background-color: #021f55;
    margin-top: 2rem;
    border-top: 1px solid #9c9c9c;
}

footer div {
    font-size: 1.8rem;
    color: #ee9f29;
    display: block;
}
footer div h4{
    font-size: 1.5rem;
    color: #ee9f29;
    margin-bottom: 0; 
}
footer div a {
    display:block;
    max-width: max-content;
    color: #e3e3d3;
    font-size: 1.3rem;
    text-decoration: none;
}

footer div a .coming-soon{
    font-size: 1.3rem;
    display: none;
}

footer div a:hover > .coming-soon{
    display: inline-block;
    color: #e3e3d3;
}
footer div a:hover{
    text-decoration: underline;
}



.second-form h3{
    color: #ee9f29;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.second-form p{
    color: #e3e3d3;
    font-size: 1.3rem;
    margin-top: 0;
}


.second-input-section{ /* Styling for the div that holds the second form at the footer section */
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100% !important;
    padding: 1rem;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
.second-input-section div { /* Styling for the div that holds the message/emailIcon */
    padding: 1.3rem;
    margin-right: -0.5rem;
    max-width: 100%;
    height: 100%;
    background-color: #ffffff;
    vertical-align: middle !important;
    border: 1px solid #9c9c9c;
    border-right: none;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    
}

.email-icon{ /* The message/email Icon */
    height: 2.5rem;
    vertical-align: middle !important;
    
}

.second-form .second-input-section .second-input{
    max-width: 50%;
    max-width: calc(100%/2.2);
    padding: 1.5rem;
    font-size: 1.3rem;
    margin-right: calc(100vw / 94);
    height: 5.8rem !important; /* Sets the height of the input field to the same as that of the email icon */
    border: 1px solid rgba(39, 40, 42, 0.3);
    border-radius: 0.6rem;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

.second-form .second-input-section .second-input::placeholder{
    font-size: 1.2rem;
    text-overflow: ellipsis;
}
.sendIconButton{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    max-width: 6rem;
    min-width: 5.5rem;
    width: 100%;
    height: 5.8rem;
    background-color: #367EFF;
    border: none;
    border-radius: 0.5rem;
}

@media(max-width:590px){
    footer{
        display: block;
    }
}
